body, html {
    width: 100%;
    height: 100%;
    padding-top: 25px;
    padding-bottom: 50px;
}

.rooms {
    margin-top: 10px;
    display: table;
}

.room {
    border: 1px solid black;
    border-radius: 5px;
    display: table-cell;
    vertical-align: middle;
    margin-top: 3px;
    margin-bottom: 3px;
    width: 230px;
}

.room > button,h3 {
    width: 100%;
    text-align: center;
    transition: all 500ms;
}

.chatSendBox {
    display: inline;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 5px;
}

.chatSendBox > input {
    width: 63%;
    height: 30px;
}

.chatSendBox > button {
    width: 27%;
    height: 30px;
}

#output {
    margin-top: 10px;
    width: 100%;
    height: 500px;
    resize: none;
    overflow: auto;
    border: 1px solid rgb(141, 138, 138);
    background-color: black;
    list-style-type: none;
}

.bronze {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f8cd71), to(#fff));
    background-image: -webkit-linear-gradient(top, #f8cd71, #fff);
    background-image: -moz-linear-gradient(top, #f8cd71, #fff);
    background-image: linear-gradient(to bottom, #f8cd71, #fff);
}

.bronzeMsg {
    color: #f8cd71;
}

.silver {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#c9c9c9), to(#fff));
    background-image: -webkit-linear-gradient(top, #c9c9c9, #fff);
    background-image: -moz-linear-gradient(top, #c9c9c9, #fff);
    background-image: linear-gradient(to bottom, #c9c9c9, #fff);
}

.silverMsg {
    color: #c9c9c9;
}

.gold {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff238), to(#fff));
    background-image: -webkit-linear-gradient(top, #fff238, #fff);
    background-image: -moz-linear-gradient(top, #fff238, #fff);
    background-image: linear-gradient(to bottom, #fff238, #fff);
}

.goldMsg {
    color: #fff238;
}

.platinum {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#b9b9b9), to(#fff));
    background-image: -webkit-linear-gradient(top, #b9b9b9, #fff);
    background-image: -moz-linear-gradient(top, #b9b9b9, #fff);
    background-image: linear-gradient(to bottom, #b9b9b9, #fff);
}

.platinumMsg {
    color: #b9b9b9;
}